.map {
  @apply fixed top-0 bottom-0 right-0 left-0;
  @apply z-10;

  & canvas {
    touch-action: auto;
  }
}

.building-label,
.map-label {
  @apply font-whyte italic lowercase text-white text-base text-center;
  @apply opacity-0;
  @apply select-none;
  white-space: nowrap;
  transition: font-weight 0.3s ease;
}

.building-label:hover {
  font-weight: 700;
}

.map-label {
  color: #dec1fb;
}

.building-label::after,
.map-label::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.building-label::before,
.map-label::before {
  content: "";
  display: block;
  height: 1rem;
  width: 2px;
  background: #fff;
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-label::before,
.map-label::after {
  background: #dec1fb;
}
