@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-Book-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-Book-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-BookItalic-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-BookItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-Regular-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-Regular-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-Bold-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-RegularItalic-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("fonts/ABCWhyte-BoldItalic-Trial.woff") format("woff"),
    url("fonts/ABCWhyte-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("fonts/ABCCamera-BoldItalic-Trial.woff") format("woff"),
    url("fonts/ABCCamera-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("fonts/ABCCamera-Bold-Trial.woff") format("woff"),
    url("fonts/ABCCamera-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("fonts/ABCCamera-Regular-Trial.woff") format("woff"),
    url("fonts/ABCCamera-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("fonts/ABCCamera-RegularItalic-Trial.woff") format("woff"),
    url("fonts/ABCCamera-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  @apply w-full h-full;
  background: rgb(21, 22, 68);
  background: radial-gradient(
    circle,
    rgba(21, 22, 68, 1) 0%,
    rgba(10, 11, 44, 1) 100%
  );

  @apply text-white font-whyte;
}

.margins {
  @apply w-full;
  @apply mx-15;
  max-width: calc(100vw - 30px);
}
