@font-face {
  font-family: "Whyte";
  src:
    url("/BAP-blog/fonts/ABCWhyte-Regular-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCWhyte-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/BAP-blog/fonts/ABCWhyte-Bold-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCWhyte-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/BAP-blog/fonts/ABCWhyte-RegularItalic-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCWhyte-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/BAP-blog/fonts/ABCWhyte-BoldItalic-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCWhyte-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/BAP-blog/fonts/ABCCamera-BoldItalic-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCCamera-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/BAP-blog/fonts/ABCCamera-Bold-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCCamera-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/BAP-blog/fonts/ABCCamera-Regular-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCCamera-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/BAP-blog/fonts/ABCCamera-RegularItalic-Trial.woff") format("woff"),
    url("/BAP-blog/fonts/ABCCamera-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  @apply w-screen h-screen;
  background: rgb(21, 22, 68);
  background: radial-gradient(
    circle,
    rgba(21, 22, 68, 1) 0%,
    rgba(10, 11, 44, 1) 100%
  );

  @apply text-white;
}
