@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-Book-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-Book-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-BookItalic-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-BookItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-Regular-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-Regular-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-Bold-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-Medium-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-Medium-Trial.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-RegularItalic-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-BoldItalic-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src:
    url("/fonts/ABCWhyte-MediumItalic-Trial.woff") format("woff"),
    url("/fonts/ABCWhyte-MediumItalic-Trial.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/fonts/ABCCamera-BoldItalic-Trial.woff") format("woff"),
    url("/fonts/ABCCamera-BoldItalic-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/fonts/ABCCamera-Bold-Trial.woff") format("woff"),
    url("/fonts/ABCCamera-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/fonts/ABCCamera-Regular-Trial.woff") format("woff"),
    url("/fonts/ABCCamera-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Camera";
  src:
    url("/fonts/ABCCamera-RegularItalic-Trial.woff") format("woff"),
    url("/fonts/ABCCamera-RegularItalic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  @apply bg-black;

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-purple/50;
    @apply rounded-full;
    @apply w-2;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-pink/70;
  }
}

body {
  @apply w-full;
  height: calc(100vh + 20px);
  background: rgb(21, 22, 68);
  background: radial-gradient(
    circle,
    rgba(21, 22, 68, 1) 0%,
    rgba(10, 11, 44, 1) 100%
  );

  @apply text-white font-whyte;

  *::selection {
    @apply bg-orange text-white;
  }
}

.main {
  @apply w-full h-dvh;
  @apply opacity-0;
}

.margins {
  @apply w-full;
  @apply mx-15;
  max-width: calc(100vw - 30px);
}

.footer {
  @apply opacity-0;
  @apply h-60;
  @apply fixed z-20 bottom-0 left-30 right-30;
  @apply flex flex-row justify-center md:justify-between items-center;
  @apply translate-y-full;
  @apply text-sm;

  &__side {
    @apply flex flex-col md:flex-row items-center;

    &.left {
      @apply md:gap-60;
    }

    &.right {
      @apply hidden md:flex;
      @apply gap-30;
    }

    img {
      @apply h-30 md:h-[45px];
      width: auto;
    }
  }
}

.loading {
  @apply fixed inset-0 z-50;
  @apply flex flex-col justify-center items-center;

  img {
    @apply h-20 w-20 md:h-24 md:w-24;
    @apply animate-spin-slow;
  }
}

.button {
  @apply min-h-[35px];
  @apply px-15 md:px-[20px] py-5 md:py-[7px] bg-purple/30;
  @apply border-[2.5px] border-pink rounded-full;
  @apply transition-all duration-300;
  @apply flex flex-row items-center justify-center gap-5 w-fit;
  @apply overflow-hidden;

  &.small {
    @apply min-w-[38px] h-[38px] md:w-fit md:h-fit;
    @apply border-[1.5px] py-[2.5px] md:py-[5px];
  }

  &.round {
    @apply w-[38px] h-[38px] md:w-fit md:h-fit;
    @apply border-[1.5px] py-[2.5px] md:py-[5px];
  }

  .button__arrow {
    @apply transition-all duration-300;
  }

  backdrop-filter: blur(10px);
  @apply text-white font-bold text-sm md:text-base;

  &:hover {
    @apply bg-purple border-purple;

    .button__arrow.left {
      @apply -translate-x-[100px];
    }

    .button__arrow.right {
      @apply translate-x-[100px];
    }
  }
}
