.hero {
  @apply h-screen w-full fixed max-w-screen-2xl z-10;
  @apply flex flex-col justify-between;
  @apply pt-30 pb-30 md:pt-60 lg:pt-120;

  &__top {
    @apply flex flex-col items-start;
  }

  &__bottom {
    @apply flex flex-col items-center gap-15 md:gap-30;
    @apply pointer-events-none;
  }

  &__date {
    @apply uppercase;
    @apply text-center font-normal text-xl;

    @apply mx-auto;
  }

  &__title {
    @apply mx-auto;
    @apply font-camera font-bold text-center;
    font-size: clamp(65px, 12vw, 160px);

    @media (min-width: 768px) {
      font-size: clamp(80px, 11vw, 110px);
    }

    @media (min-width: 1024px) {
      font-size: clamp(110px, 9vw, 170px);
    }

    @apply leading-none;
  }

  &__arrow {
    @apply fill-white;
    @apply h-15;
  }

  &__intro {
    @apply text-center font-normal text-base md:text-lg;
    @apply max-w-smallParagraph;

    & .bold {
      @apply font-bold;
    }
  }
}
