---
import Main from "../layouts/Main.astro";
import languages from "../services/languages.json";

const copy = languages.nl;
---

<Main title={copy.title} description={copy.description}>
  <h1>
    {copy.title}
  </h1>
</Main>
