---
import Main from "../layouts/Main.astro";
import languages from "../services/languages.json";
import "../styles/hero.css";
import "../styles/faq.css";
import FAQ from "../components/FAQ";

const copy = languages.nl;
---

<Main title={copy.title} description={copy.description}>
  <FAQ client:load />
  <button id="faq__back__button" class="faq__button back">
    Terug naar overzicht
  </button>
  <script>
    import { gsap } from "gsap";

    const faqTL = gsap.timeline({ paused: true });
    const faqButton = document.getElementById("faq__button");
    const faqBackButton = document.getElementById("faq__back__button");
    if (faqButton) {
      faqButton.addEventListener("click", () => {
        console.log("clicked");
        faqTL
          .to("#schedule", {
            x: "100vw",
            duration: 1,
            ease: "power2.out",
          })
          .to(
            "#hero__title",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#hero__date",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq__button",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq",
            {
              x: "0",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq__back__button",
            {
              x: "0",
              duration: 1,
              ease: "power2.out",
            },
            "<+=0.5"
          );
        faqTL.play();
      });
    }

    if (faqBackButton) {
      faqBackButton.addEventListener("click", () => {
        faqTL.reverse();
      });
    }
  </script>
</Main>
