---
import Main from "../layouts/Main.astro";
import languages from "../services/languages.json";
import "../styles/hero.css";

const copy = languages.nl;
---

<Main title={copy.title} description={copy.description}>
  <div class="hero">
    <div class="hero__top"><h1 class="hero__title">{copy.title}</h1></div>
    <div class="hero__bottom"></div>
  </div>
</Main>
